 <div class="top-header header_2{% if section.settings.logo_position == 'center' %} logo-center{% endif %}">
  <div class="{% if settings.layout_width == 'boxed' %}container{% else %}container-fluid{% endif %}">
      <div class="navigation__header">
        {% liquid
          assign catalogDesktop = false
          if section.settings.enable_catalog and section.settings.enable_catalog_drawer and section.settings.catalog_menu != blank 
          assign catalogDesktop = true
          endif
        %}
        {%- if section.settings.menu != blank or catalogDesktop -%}
        <div id="nav-menu-btn"  class="nav-menu-btn{% if catalogDesktop %} catalog_drawer_menu d-lg-block{% endif %} {{ mobileMenu }} ">
          <div class="nav__btn {{ section.settings.icon_weight }}-icon">
            <div class="navbar-toggler" data-toggle="collapse" role="button" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </div>
          </div>
          {% render 'side-menu' section : section, mobileMenu : true,catalogDesktop:catalogDesktop %}
        </div>
        {%- endif -%}
       <a class="header__heading-link {% if section.settings.logo == blank %}yv-heading-shop-link{% endif %}" href="{{ routes.root_url }}" aria-label="{{ shop.name }}">
         {%- render 'header-logo' section : section -%}
        </a>
        
          {% liquid
            if section.settings.enable_catalog and section.settings.enable_catalog_drawer == false
              render 'header-category' section:section
            endif 
          %}
      
        <div class="form-inline header-right">
          {% render 'header-icons' section : section %}
        </div>
      </div>
    </div>
  {%- if section.settings.menu != blank -%}
  <div class="nav__header nav_2">
    <div class="container">
      <div class="navbar navbar-expand-md">
          <ul class="list-unstyled navbar-nav list-menu--inline" {% if section.settings.menu_position == 'center' %}style="justify-content:center;"{% endif %} role="list">								
            {% render 'nav-item' section : section %}
            <div class="toggle-container">
  <button id="togglePreciosBtn" class="toggle-btn"></button>
</div>
          </ul>
      </div>      
    </div>
  </div>
  {%- endif -%}
</div>