<div class="nodatafound_wrapper">
  <div class="nodatafound_box">
    <svg width="113" height="112" viewBox="0 0 113 112" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.6" d="M54.7148 112C84.5491 112 108.715 87.8144 108.715 58C108.715 28.1856 84.5292 4 54.7148 4C24.9005 4 0.714844 28.1459 0.714844 57.9602C0.714844 87.7746 24.9005 112 54.7148 112Z" fill="#DFDFDF"/>
      <path d="M83.8909 16H23.5188C19.7455 16 16.7148 19.1593 16.7148 23H90.7148C90.6948 19.118 87.6641 16 83.8909 16Z" fill="#D9D9D9"/>
      <path d="M16.755 23H90.7148V78.6662C90.7148 81.1631 89.7119 83.5213 87.9466 85.2652C86.1814 87.0091 83.7542 88 81.2668 88H26.1629C23.6354 88 21.2483 87.0091 19.4831 85.2652C17.7178 83.5213 16.7148 81.1235 16.7148 78.6662V23H16.755Z" fill="white"/>
      <path d="M29.4578 57.3904H3.75461C1.69756 57.3904 0 59.0472 0 61.1432V97.8931C0 99.9492 1.65762 101.646 3.75461 101.646H29.4578C31.5148 101.646 33.2124 99.9891 33.2124 97.8931V61.1432C33.1724 59.0672 31.5148 57.3904 29.4578 57.3904Z" fill="white"/>
      <path d="M102.632 0H74.233C72.895 0 71.8564 1.07794 71.8564 2.37546V15.71C71.8564 17.0475 72.9349 18.0855 74.233 18.0855H102.632C103.97 18.0855 105.009 17.0075 105.009 15.71V2.39543C105.049 1.07794 103.97 0 102.632 0Z" fill="white"/>
      <path d="M26.5358 76H6.89339C6.24519 76 5.71484 76.45 5.71484 77C5.71484 77.55 6.24519 78 6.89339 78H26.5358C27.184 78 27.7143 77.55 27.7143 77C27.734 76.45 27.184 76 26.5358 76Z" fill="#DFDFDF"/>
      <path d="M26.5273 93H6.90186C6.249 93 5.71484 93.4407 5.71484 94C5.71484 94.5593 6.249 95 6.90186 95H26.5273C27.1802 95 27.7143 94.5593 27.7143 94C27.7341 93.4576 27.1802 93 26.5273 93Z" fill="#D9D9D9"/>
      <path d="M26.5273 84H6.90186C6.249 84 5.71484 84.4407 5.71484 85C5.71484 85.5593 6.249 86 6.90186 86H26.5273C27.1802 86 27.7143 85.5593 27.7143 85C27.7341 84.4576 27.1802 84 26.5273 84Z" fill="#D9D9D9"/>
      <path d="M14.2565 63H8.17318C6.81901 63 5.71484 64 5.71484 65.2264V66.7736C5.71484 68 6.81901 69 8.17318 69H14.2565C15.6107 69 16.7148 68 16.7148 66.7736V65.2264C16.7148 64 15.6107 63 14.2565 63Z" fill="#DFDFDF"/>
      <path d="M78.7148 12C80.367 12 81.7148 10.6522 81.7148 9C81.7148 7.34783 80.367 6 78.7148 6C77.0627 6 75.7148 7.34783 75.7148 9C75.7148 10.6522 77.0409 12 78.7148 12Z" fill="#D9D9D9"/>
      <path d="M88.7149 12C90.367 12 91.7148 10.6522 91.7148 9C91.7148 7.34783 90.367 6 88.7149 6C87.0627 6 85.7148 7.34783 85.7148 9C85.7366 10.6522 87.0409 12 88.7149 12Z" fill="#D9D9D9"/>
      <path d="M98.7148 12C100.367 12 101.715 10.6522 101.715 9C101.715 7.34783 100.367 6 98.7148 6C97.0627 6 95.7148 7.34783 95.7148 9C95.7366 10.6522 97.0409 12 98.7148 12Z" fill="#D9D9D9"/>
      <path d="M69.2148 89C82.7334 89 93.7148 78.0186 93.7148 64.5C93.7148 50.9814 82.7334 40 69.2148 40C55.6962 40 44.7148 50.9814 44.7148 64.5C44.7347 78.0186 55.6764 89 69.2148 89Z" fill="url(#paint0_linear_13_189)" fill-opacity="0.2"/>
      <path d="M72.4826 64.9903L76.1675 61.3204C76.5184 60.9515 76.6939 60.466 76.6939 59.9806C76.6939 59.4757 76.4989 59.0097 76.1285 58.6408C75.758 58.2718 75.2901 58.0971 74.7832 58.0777C74.2763 58.0777 73.7889 58.2718 73.438 58.6019L69.7531 62.2719L66.0682 58.6019C65.8928 58.4078 65.6783 58.2718 65.4444 58.1553C65.2104 58.0388 64.9569 58 64.684 58C64.4305 58 64.1576 58.0388 63.9236 58.1359C63.6897 58.233 63.4752 58.3689 63.2802 58.5631C63.0853 58.7573 62.9488 58.9515 62.8513 59.2039C62.7538 59.4369 62.7148 59.6893 62.7148 59.9612C62.7148 60.2136 62.7733 60.4854 62.8708 60.7185C62.9878 60.9515 63.1243 61.165 63.3192 61.3398L67.0041 65.0097L63.3777 68.6602C63.1828 68.8349 63.0463 69.0485 62.9293 69.2816C62.8123 69.5146 62.7733 69.767 62.7733 70.0388C62.7733 70.2913 62.8123 70.5631 62.9098 70.7961C63.0073 71.0291 63.1438 71.2427 63.3387 71.4369C63.5337 71.6311 63.7287 71.767 63.9821 71.8641C64.2161 71.9612 64.4695 72 64.7425 72C64.9959 72 65.2689 71.9417 65.5029 71.8447C65.7368 71.7282 65.9513 71.5922 66.1267 71.3981L69.8116 67.7282L73.4964 71.3981C73.8669 71.7282 74.3543 71.9029 74.8417 71.8641C75.3291 71.8447 75.797 71.6505 76.148 71.301C76.4989 70.9515 76.6939 70.4854 76.7134 70C76.7329 69.5146 76.5574 69.0485 76.226 68.6602L72.4826 64.9903Z" fill="#CCCCCC"/>
      <path d="M10.7007 4.74272C10.9516 3.75243 12.4781 3.75243 12.729 4.74272L13.5864 8.0631C13.6909 8.41262 13.9628 8.68447 14.3392 8.76213L17.915 9.55825C18.9815 9.79126 18.9815 11.2087 17.915 11.4417L14.3392 12.2379C13.9628 12.3349 13.67 12.5874 13.5864 12.9369L12.729 16.2573C12.4781 17.2476 10.9516 17.2476 10.7007 16.2573L9.8433 12.9369C9.73875 12.5874 9.46689 12.3155 9.09049 12.2379L5.51469 11.4417C4.44823 11.2087 4.44823 9.79126 5.51469 9.55825L9.09049 8.76213C9.46689 8.66505 9.75966 8.41262 9.8433 8.0631L10.7007 4.74272Z" fill="#D9D9D9"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M52.7148 4.93104C53.6459 4.93104 54.4321 4.27586 54.4321 3.5C54.4321 2.72414 53.6459 2.06897 52.7148 2.06897C51.7838 2.06897 50.9976 2.72414 50.9976 3.5C50.9976 4.27586 51.7424 4.93104 52.7148 4.93104ZM52.7148 6C54.37 6 55.7148 4.87931 55.7148 3.5C55.7148 2.12069 54.37 1 52.7148 1C51.0597 1 49.7148 2.12069 49.7148 3.5C49.7148 4.87931 51.0597 6 52.7148 6Z" fill="#D9D9D9"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M107.715 29.7172C108.646 29.7172 109.432 28.931 109.432 28C109.432 27.069 108.646 26.2828 107.715 26.2828C106.784 26.2828 105.998 27.069 105.998 28C105.998 28.931 106.784 29.7172 107.715 29.7172ZM107.715 31C109.37 31 110.715 29.6552 110.715 28C110.715 26.3448 109.37 25 107.715 25C106.06 25 104.715 26.3448 104.715 28C104.715 29.6552 106.06 31 107.715 31Z" fill="#D9D9D9"/>
      <path d="M90.7786 78L83.7148 85.5391L103.651 103L110.715 95.4609L90.7786 78Z" fill="#D9D9D9"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M98.7148 65C98.7148 81.0206 85.5116 94 69.2148 94C52.9181 94 39.7148 81.0206 39.7148 65C39.7148 48.9794 52.9181 36 69.2148 36C85.5116 36 98.7148 48.9794 98.7148 65ZM94.1857 65C94.1857 78.5559 82.9842 89.5675 69.1946 89.5675C55.405 89.5675 44.2035 78.5559 44.2035 65C44.2035 51.4441 55.405 40.4325 69.1946 40.4325C83.0246 40.4524 94.1857 51.4441 94.1857 65Z" fill="#D9D9D9"/>
      <path d="M103 102.701L110.163 95L111.25 95.9576C112.297 96.8953 112.933 98.1521 112.995 99.5486C113.056 100.945 112.564 102.262 111.62 103.299C110.655 104.317 109.362 104.935 107.926 104.995C106.489 105.055 105.134 104.576 104.067 103.658L103 102.701Z" fill="#D9D9D9"/>
      <defs>
        <linearGradient id="paint0_linear_13_189" x1="60.9937" y1="43.1766" x2="85.6663" y2="107.203" gradientUnits="userSpaceOnUse">
          <stop stop-color="white"/>
          <stop offset="1" stop-color="white"/>
        </linearGradient>
      </defs>
    </svg>
    {%- if template == 'search' -%}    
    <h5>{{ 'templates.search.no_results_simple' | t }}</h5>    
    {%- else -%}
    {%- if similar -%}
    <h5>{{ 'general.no_similar_found' | t }}</h5>
    {%- else -%}
    <h5>No {{ item }} Found</h5>
    {%- endif -%}
    {%- endif -%}
  </div>
</div>